@font-face {
    font-family: myFirstFont;
    src:local("/home/kadir/Schreibtisch/aufgabe/GothamRoundedBold_21016.ttf");
}

*{
    font-family: myFirstFont;
}


.form-group{
    color: black;
}
#exampleInputName{
    padding-right: 40px;
}

.navbar-nav{
    text-align: right;
}



#main-row{
    margin-left: 100px;
}
.btn{
    width:100%;
    background:#794681;
  
}
.btn:hover{
    background: #f3db57;
}

